/* 
    Document   : styles
    Created on : Aug 8, 2012, 9:34:35 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

/* Basic Table Display */
table {
    width: 100%;
}

table, tr, th, td {
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;

    text-align: center;
    font-size: 1.0em;
}

table {
    border-collapse: collapse;
}


tr {
    background-color: #eee;
}

tr:first-child {
    background-color: #ddd; 
    border-bottom-width: 2px;
    border-bottom-color: black;
    font-weight: bold;

}

tr:nth-child(2n) {
    background-color: #fff;
} 

/* View all tasks button on add_project.php */
#fitem_id_view_all_button .felement {
    margin: 0px;
}

/* moodleform_eXtreme css */
.fitem .fitemtitle {
    width: 150px !important;

}

.fitem .felement * {
    width: 165px;
    box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;

}


.fitem .felement {
    margin-left: 155px !important;
    box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;
}